<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_1.xsd">
    <fullnamespace>EditTransporter\EditTransporter</fullnamespace>
    <descriptive locale="en_US">
        <title>Order transporter edit</title>
        <description>An option to edit an order's transporter on the delivery tab of the order.</description>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Edition de transporteur de commandes</title>
        <description>Une option pour modifier le transporteur d'une commande dans l'onglet livraison de la commande.</description>
    </descriptive>
    <!-- <logo></logo> -->
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>1.0.0</version>
    <author>
        <name>Maxime Morille</name>
        <email>mmorille@openstudio.fr</email>
    </author>
    <type>classic</type>
    <!--
    module dependencies
    <required>
        <module version="&gt;=0.1">Front</module>
        <module version="~1.0">HookCart</module>
        <module version="&gt;0.2">HookSearch</module>
    </required>
    -->
    <thelia>2.1</thelia>
    <stability>other</stability>
</module>
